/M.O.A.R.-Parts.Unity/Library
/M.O.A.R.-Parts.Unity/Logs
/M.O.A.R.-Parts.Unity/Packages/KSP2_x64
/M.O.A.R.-Parts.Unity/Temp
/M.O.A.R.-Parts.Unity/UserSettings
/M.O.A.R.-Parts.Unity/Assets/AddressableAssetsData
*.meta
/M.O.A.R.-Parts.Unity/Assets/Thunderkit Installer - KSP2
/M.O.A.R.-Parts.Unity/Assets/ThunderKitSettings
/M.O.A.R.-Parts.Unity/Assets/StreamingAssets
